<div class ="description">
  <br><h2>＊>> クラウドファンディング（crowdfunding）とは群衆（crowd）と資金調達（funding）を組み合わせた造語で、インターネットを通して自分の活動や夢を発信することで、想いに共感した人や活動を応援したいと思ってくれる人から資金を募るしくみです
  。ここでは自主製作映像の支援を行なっていきます。</h2>
</div>