header{
  max-width: 1000px;
  margin: 0 auto;
}

.productlist{
  margin: 0 20px;
}

.productlist h1{
  margin: 0;
  padding: 30px 0;
  font-size: 1.5rem;
}

.productlist-contents h2{
  font-size: 1.5rem;
}

.productlist-contents{
  overflow:hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

.productlist-contents li{
  float:left;
  margin:0 1.333333333% 0 0;
  border: 1px solid #dadada;
  width: 24%;
  border-radius: 10px;
}

.productlist-contents li:last-child{
margin: 0 0 0 0;  
}



.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('#');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #A9E2F3;

  .users-new-container {
    padding-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}
