header{
  max-width: 1000px;
  margin: 0 auto;
}

.productlist{
  margin: 0 20px;
}

.productlist h1{
  margin: 0;
  padding: 30px 0;
  font-size: 1.5rem;
}

.productlist-contents h2{
  font-size: 1.5rem;
}

.productlist-contents{
  overflow:hidden;
  margin: 0;
  padding: 0;
  list-style: none;
}

.productlist-contents li{
  float:left;
  margin:0 1.333333333% 0 0;
  border: 1px solid #dadada;
  width: 24%;
  border-radius: 10px;
}

.productlist-contents li:last-child{
margin: 0 0 0 0;  
}



.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('#');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #A9E2F3;

  .users-new-container {
    padding-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}

.topic-new-wrapper {
  padding-top: 120px;
}

img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 85%;
    }
    
.btn-circle-3d-dent {
  display: inline-block;
  text-decoration: none;
  background: #5dc3d0;
  color: rgb(82, 142, 150);
  width: 122px;
  font-size: 20px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: inset 0px 3px 0 rgba(255,255,255,0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  border-bottom: solid 3px #549fa9;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
  transition: .4s;
}

.btn-circle-3d-dent:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  border-bottom: none;
}